.nf-rating {
  color: #e5e5e5;
  font-size: 1vw;
  font-weight: 700;
  text-align: right;
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: black; */
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  line-height: 1.4;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  /* padding: 1em; */
  padding-right: 0.3em;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  /* background: rgba(229, 229, 229, 0.00); */
  /* background-image: linear-gradient(to top,rgba(0,0,0,0) 0,rgba(0,0,0,0) 33%,rgba(0,0,0,.85) 100%); */
}

.nf-rating-big {
  font-size: 1.5em !important;
}

.nf {
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: right;
  margin-top: -0.9vw;
  margin-right: -0.2vw;
  font-size: 1em;
  letter-spacing: -2px;
}

.ratings {
  top: 0;
  right: 0;
  /* padding-right: 0.3em; */
  /* margin-top: -0.6vw; */
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  z-index: 2;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(
    center, ellipse cover,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 0) 100%);
  -webkit-transform: rotate(8deg);
}

.ratings-text {
  color: #282828;
  font-size: 1.1em;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  position: absolute;
  left: 0;
  top: 0.0em;
  bottom: 0;
  right: 0;
}

.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}
.empty-stars:before, .full-stars:before {
  content:"\1F7CA";
  font-size: 4.5em;
}
.empty-stars:before {
  -webkit-text-stroke: 1px #848484;
}
.full-stars:before {
  /* -webkit-text-stroke: 1px orange; */
}
